.matchCardSmall {
  display: none;
  position: relative;
  padding: 8px 12px 0 12px;
  background: var(--Background-700);

  @include rwd-min('lg') {
    padding: 0;
    &.show {
      width: 100%;
      display: block;
      position: fixed;
      top: 48px;
      z-index: 11;
    }

    .matchCardSmallContent {
      display: none;
    }
  }

  .matchCardSmallContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 52px;
    // border-radius: 12px;
    background: rgba(31, 40, 52, 1);
    color: var(--White-100);
    font-size: 12px;
    font-weight: 500;
  }

  .scoreWrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    .scoreItem {
      display: flex;
      align-items: center;
      gap: 3px;
      font-family: 'DINPro';
    }
  }

  .matchTeam {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .liveText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .status {
      font-size: 10px;
      font-weight: 400;
      display: flex;
      gap: 4px;
    }

    .score {
      font-family: 'SF Pro Text';
    }
  }
}
