.bet-amount-input-wrapper {
  --input-shadow-border: inset 0 0 0 0.5px var(--ThemeColor-Main);
  --caret-color: var(--ThemeColor-Main);

  // &.bet-amount-input-error {
  //   --input-shadow-border: inset 0 0 0 0.5px var(--Red-300);
  //   --caret-color: var(--Red-400);
  //   box-shadow: var(--input-shadow-border);
  // }

  overflow: hidden;
  background-color: var(--Background-300);
  border-radius: 6px;
  display: flex;
  position: relative;
  transition: box-shadow 0.3s ease;

  &:focus-within {
    box-shadow: var(--input-shadow-border);
  }

  &.show-border {
    box-shadow: var(--input-shadow-border);
  }

  .bet-amount-input {
    font-family: Dinpro;
    min-width: 0;
    padding-left: 12px;
    padding-right: 30px;
    border: none;
    outline: none;
    font-size: calc(14px * var(--text-scale));
    color: var(--Text-Main-10);
    background: none;
    box-sizing: border-box;
    caret-color: var(--caret-color);
  }

  .bet-amount-input-clear {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include can-hover {
    box-shadow: var(--input-shadow-border);
  }
}
