.questionTemplate {
  padding: 28px 16px 24px;

  .questionTitle {
    display: flex;
    color: var(--ThemeColor-Main);
    // font-family: HYYakuHei;
    font-family: 'PingFang SC';
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 120% */
    display: flex;
    align-items: center;
    .index {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--ThemeColor-Main, #1a81ff);
      color: #fff;
      // font-family: HYYakuHei;
      font-family: 'PingFang SC';
      font-size: 12.5px;
      margin-right: 8px;
      margin: 4px 8px 4px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .currentQuestion {
    display: flex;
    margin-top: 28px;
    .logo {
      margin-right: 8px;
      width: 32px;
      height: 36px;
      display: flex;
      align-items: center;
    }
    .currentQuestionTitle {
      padding: 9px 10px;
      border-radius: 18px 18px 2px 18px;
      background: var(--Background-300);
      box-shadow: 0 4px 8px 0 rgba(26, 129, 255, 0.05);
      color: var(--Text-Main-10);
      text-align: justify;
      font-family: 'PingFang SC';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 128.571% */
    }
  }

  .questionRate {
    height: 42px;
    margin-top: 32px;
    .rateWrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 6px;

      :global {
        .adm-rate {
          display: flex;
        }
        .adm-rate-box {
          margin-right: 20px;
          svg {
            max-width: unset;
            height: unset;
          }
          &:nth-child(5) {
            margin-right: 0;
          }
          &:nth-child(1) {
            .adm-rate-star {
              padding: 0 6px;
            }
          }
        }
        .adm-rate-star {
          padding: 0;
        }
      }
    }

    .rateLabels {
      display: flex;
      justify-content: center;

      .label {
        color: var(--Text-700);
        font-family: 'PingFang SC';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; /* 100% */
        transition: all 0.3s ease;
        margin-right: 20px;
        width: 24px;
        text-align: center;
        white-space: nowrap;
        &:nth-child(1) {
          width: 36px;
        }
        &:nth-child(5) {
          margin-right: 0;
        }
        &.active {
          color: var(--ThemeColor-Main);
          font-weight: 500;
        }
      }
    }
  }

  .btnGroup {
    display: flex;
    align-items: center;
    margin-top: 20px;
    .prevBtn {
      display: flex;
      width: 72px;
      height: 40px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 20px;
      background: var(--Background-500);
      margin-right: 10px;
      color: var(--Text-Main-10);
      text-align: center;
      font-family: 'PingFang SC';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }
    .nextBtn,
    .submitBtn {
      display: flex;
      width: 221px;
      height: 40px;
      flex: 1;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 20px;
      background: var(--ThemeColor-Main);
      color: var(--White-100, #fff);
      text-align: center;
      font-family: 'PingFang SC';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      transition: all 0.3s ease;
    }
    .disabled {
      opacity: 0.6;
    }
  }
}

.tips {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  img {
    width: 16px;
    height: 16px;
  }
  p {
    margin-left: 4px;
    color: var(--Text-800);
    text-align: left;
    font-family: 'PingFang SC';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }
}
