.teamTitle {
  display: flex;
  align-items: center;
  min-width: 0;
  gap: 6px;
  color: var(--Text-Main-10);
  font-size: 12px;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.teamTitleReverse {
  flex-direction: row-reverse;
  text-align: right;
}

.teamLogo {
  width: 24px;
  height: 24px;
  object-fit: contain;
  flex-shrink: 0;
}
