.rightSidebarContainer {
  @include rwd-min('lg') {
    position: fixed;
    inset: 0;
    background-color: var(--Black-60);
    z-index: var(--z-right-sidebar);
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: 100%;
  }
}
