.balance {
  height: 48px;
  border-radius: 12px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--ThemeColor-Main);
  flex: none;

  &.hideInWeb {
    @include rwd-min('lg') {
      display: none;
    }
  }

  .left {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--White-100);
    font-family: 'PingFang SC';

    .amount {
      font-size: 16px;
    }
  }

  .button {
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 30px;
    width: 72px;
    border-radius: 16px;
    background: var(--White-20);
    cursor: pointer;
    color: var(--White-100);
    font-size: 12px;
    font-weight: 500;
  }
}

.transferBalance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--ThemeColor-Main);
  font-size: 16px;
  color: var(--White-100);
  padding: 16px 12px 24px 12px;
  flex: none;

  @include rwd-min('lg') {
    height: 48px;
    border-radius: 12px;
    padding: 0 16px;
  }

  .amount {
    font-size: 18px;
    font-weight: 500;
  }

  .button {
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 30px;
    width: 72px;
    border-radius: 16px;
    background: var(--White-20);
    cursor: pointer;
    color: var(--White-100);
    font-size: 12px;
    font-weight: 500;
  }
}
