@use '@/common/styles/rwd' as *;

.riskBankModal {
  background: var(--Background-700);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  padding-bottom: 40px;
  gap: 8px;

  // Pad/Web 居中弹窗样式
  &.desktop {
    width: 450px;
    border-radius: 16px;
  }

  header {
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--Text-Main-10);

    .bnClose {
      position: absolute;
      right: 12px;
      top: 12px;
      width: 24px;
      height: 24px;
      background: var(--Line-100);
      border-radius: 24px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  section {
    padding: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .riskInfo {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .bankItem {
        border-radius: 12px;
        background: var(--Background-300);
        padding: 14px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .right {
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 14px;
          color: var(--Text-700);

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .riskContent {
        border-radius: 12px;
        background: var(--Background-300);
        display: flex;
        gap: 4px;
        padding: 14px 12px;
        color: var(--Text-700);
        font-size: 14px;
      }

      .title {
        font-size: 14px;
        color: var(--Text-Main-10);
        flex: none;
      }
    }

    .bnList {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .bnSelectOtherBank {
        height: 44px;
        position: relative;
        font-size: 16px;

        .bnTip {
          position: absolute;
          top: 0;
          right: 0;
          background-image: url('/images/common/finance/risk_bank_button_bg.svg');
          background-size: 100%;
          background-repeat: no-repeat;
          width: 64px;
          height: 44px;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          div:nth-child(1) {
            font-size: 16px;
            color: var(--Green-300);
          }

          div:nth-child(2) {
            font-size: 10px;
            font-weight: 600;
            color: var(--Green-300);
          }
        }
      }

      .bnContinue {
        font-size: 16px;
        color: var(--Text-800);
        height: 44px;
        background-color: transparent;
      }
    }
  }

  .button {
    cursor: pointer;
  }

  // H5 底部抽屉样式
  &.mobile {
    border-radius: 16px 16px 0 0;
  }
}
