.teamBadge {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  height: 32px;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.right {
  flex-direction: row-reverse;
  text-align: right;
}

.teamLogo {
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
  object-fit: cover;
}
