@use '@/common/styles/rwd' as *;

.accountPicker {
  background: var(--Background-400);
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  padding-bottom: 20px;
  max-height: 80vh;
  padding-top: 12px;
  // Pad/Web 居中弹窗样式
  &.desktop {
    width: 450px;
    max-height: 600px;
    border-radius: 16px;

    section {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  header {
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--Text-Main-10);
    background: var(--Background-400);

    .bnClose {
      position: absolute;
      right: 24px !important;

      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  section {
    padding: 0 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .cardList {
      overflow: auto;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .groupTitle {
          color: var(--Text-800);
          font-size: 12px;
        }
      }

      .btnList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        justify-content: space-between;
      }

      .accountBtn {
        width: 100%;
        height: 40px;
        font-size: 12px;
        color: var(--Text-Main-10);
        font-weight: 500;
        cursor: pointer;
        border-radius: 20px;
        background: var(--Background-300);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .activeBtn {
        background: var(--ThemeColor-Main);
        color: var(--White-100);
      }
    }
  }

  // H5 底部抽屉样式
  &.mobile {
    border-radius: 16px 16px 0 0;
  }
}
