.bannerBox {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 6px;
}

.friendPath {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 56px;
  padding: 0 5px 0 25px;
  margin: 0;
  text-align: left;
  cursor: pointer;
  background: linear-gradient(90deg, #f2f9ff 0%, #f2f9ff 30.24%, #f2f9ff 70.41%, #f2f9ff 100%);
  border: none;
  border-radius: 6px;

  [data-theme='dark'] & {
    background: linear-gradient(
      90deg,
      var(--Line-100) 0%,
      var(--Line-100) 30.24%,
      var(--Line-100) 70.41%,
      var(--Line-100) 100%
    );
  }
}

.friendIcon {
  width: 32px;
  height: 49px;
  margin-top: 4px;
}

.titleAndDesc {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  justify-content: flex-start;
  padding-left: 20px;
}

.downloadLinkTitle {
  display: flex;
  align-items: center;
  color: var(--Text-Main-10-10);
  font-family: 'PingFang SC', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.newIcon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 4px;
}

.desc {
  color: var(--Text-800);
  font-family: 'PingFang SC', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
